<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>JARVIS nimmt deine Sprache nur nach einem Klick auf das Mikrofon auf und wandelt sie lokal auf diesem Mac in Text um.</string>
</dict>
</plist>
